	<div id="banner">
		<div class="logo">
        	<!-- <img src="/assets/images/logo1.png" alt="logo" /></a> -->
					<%= image_tag 'logo1.png' %>
		</div>
		
	</div>
	<!-- banner结束 -->

	<div id="menu">
		<ul>
			<li><a href="#" data-wz="Introduction">公司简介</a></li>
			<li><a href="#" data-wz="Service">服务项目</a></li>
			<li><a href="#" data-wz="Case">客户案例</a></li>
			<li><a href="#" data-wz="partner">合作伙伴</a></li>
			<li><a href="#" data-wz="News">行业新闻</a></li>
			<li><a href="#" data-wz="contact_us">联系我们</a></li>
		</ul><span class="clear"></span>
	</div>
	<!-- menu结束 -->
	
	<div id="Introduction">
		<h3 class="PartTitle">公司简介</h3>
		<div class="content">
		<!-- 文章内容开始 -->
		<p><strong>思锐创元文化传播(北京)有限公司</strong>是一家领先的独立公关与内容营销机构，为企业提供媒介公关、软文发布、微信微博推广、企业形象策划包装、原创内容营销等全方位公关策划服务。侧重企业自身发展需求，将传统公关公司的业务提升到一个新的高度。</p>
		<p>精英团队由资深公关专家、微营销专家、策划专家和设计师组成，曾供职于新京报、光明日报、百度、搜狐、新浪、雅虎等知名企业，具有深厚的传媒、商业和技术背景及业内资源。</p>
		<p>如需服务请联系我们：<em>15810183319</em>或<em> 15321968897。</em></p>
        
        <span class="yinhao"></span>
		<!-- 文章内容结束 -->
		</div>

	</div>
	<!-- Introduction结束 -->

	<div class="ad">
		<img src="assets/pic01.jpg" alt="图片描述" /></a>
		<%= image_tag 'pic01.jpg' %>
	</div>
	<!-- .ad结束 -->

	<div id="Service">
		<h3 class="PartTitle">服务项目</h3>
        
        <div class="ServiceNr">
        
        
		<dl class="ServiceList">
			<dt>
              软文营销和媒介公关
                <img src="assets/icon01.png" alt="图片描述" />
            </dt>
			<dd>
                    <ul>
                        <li>资深公关专家软文撰写</li>
                        <li>全国和地方媒体软文发布</li>
                        <li>全网监测推广效果</li>
                        <li>公关活动媒体邀请</li>
                        <li>企业邀约媒体专访</li>
                    </ul>
                    
            </dd>
		</dl>


		<dl class="ServiceList">
			<dt>
                微信和微博营销  
                <img src="assets/icon02.png" alt="图片描述" />
            </dt>
			<dd>
                <ul>
                    <li>官方账号规划和设计搭建</li>
                    <li>日常内容运营和推广</li>
                    <li>特色内容（原创文章 漫画 信息图等）</li>
                    <li>定制微信专属服务（微官网 微商城等)</li>
                    <li>活动策划和执行</li>
                </ul>                    
            </dd>
		</dl>


		<dl class="ServiceList">
			<dt>
                企业形象策划包装 
                <img src="assets/icon03.png" alt="图片描述" />
            </dt>
			<dd>
<ul>
	<li>品牌形象策划设计</li>
	<li>官方网站和终端设计制作</li>
	<li>产品包装和宣传物料设计</li>
	<li>展会和活动搭建设计</li>
	<li>广告和媒体展示设计</li>
</ul>                    
            </dd>
		</dl>


		<dl class="ServiceList">
			<dt>
                特色内容营销
                <img src="assets/icon04.png" alt="图片描述" />
            </dt>
			<dd>
<ul>
	<li>文字：资深媒体人约稿</li>
	<li>图片：原创漫画和信息图表</li>
	<li>视频：微视频和宣传片</li>
</ul>                    
            </dd>
		</dl>


		<dl class="ServiceList">
			<dt>
                网络舆情监测
                <img src="assets/icon05.png" alt="图片描述" />
            </dt>
			<dd>
<ul>
	<li>全网检测企业舆论动向</li>
	<li>不间断预警服务</li>
	<li>高效危机公关将损失降至最低</li>
</ul>                    
            </dd>
		</dl>


		<dl class="ServiceList">
			<dt>
               媒体广告投放
                <img src="assets/icon06.png" alt="图片描述" />
            </dt>
			<dd>
<ul>
	<li>媒体选择和采买建议</li>
	<li>广告谈判和购买</li>
	<li>广告执行和跟进</li>
</ul>                    
            </dd>
		</dl>


	<span class="clear"></span>

        
        
        </div>
        
	</div>
	<!-- Service结束 -->
	<div class="ad">
		<img src="assets/pic01.jpg" alt="图片描述" /></a>
	</div>
	<!-- .ad结束 -->

	<div id="Case">
		<h3 class="PartTitle">客户案例</h3>
		<div class="shuoming">
            <strong>All</strong>
            <p>为金融、财经、地产、出版、时尚、旅游、展会、法律等多个行业的大中小型企业和各级政府、社会机构等提供公关传播服务，
            支持客户业务的创新和可持续性发展。</p>
		</div>
		<ul class="CaseList">
			<li><a href="http://www.chinaunicom.com.cn/" target="_blank"><img src="assets/pic13.jpg" alt="中国联通" /> <strong>中国联通</strong> </a><span>世界500强企业</span></li>
			<li><a href="http://www.bankcomm.com/" target="_blank"><img src="assets/pic14.jpg" alt="交通银行" /> <strong>交通银行</strong> </a><span>国际化大型银行集团 </span></li>
			<li><a href="http://www.pechoin.com/" target="_blank"><img src="assets/pic15.jpg" alt="百雀羚" /> <strong>百雀羚</strong> </a><span>历史悠久的著名化妆品厂商</span></li>
			<li><a href="http://www.samsung.com/" target="_blank"><img src="assets/pic16.jpg" alt="三星电子" /> <strong>三星电子</strong> </a><span>韩国最大的电子工业企业</span></li>
			<li><a href="http://www.moomv.com/" target="_blank"><img src="assets/pic17.jpg" alt="小狗" /> <strong>小狗</strong> </a><span>中国吸尘器领导品牌</span></li>
			<li><a href="http://www.sobesen.cn/" target="_blank"><img src="assets/pic18.jpg" alt="小贝真" /> <strong>小贝真</strong> </a><span>高端婴儿生活护理用品</span></li>
            
			<li><a href="http://www.cnyig.com/" target="_blank"><img src="assets/pic19.jpg" alt="云投集团" /> <strong>云投集团</strong> </a><span>大型国有独资综合投资控股集团</span></li>
			<li><a href="http://www.vics.com.cn/" target="_blank"><img src="assets/pic20.jpg" alt="VICS" /> <strong>VICS</strong> </a><span>时尚生活俱乐部佼佼者</span></li>
			<li><a href="http://www.kolonsport.cn/" target="_blank"><img src="assets/pic21.jpg" alt="KOLON SPORT" /> <strong>KOLON SPORT</strong></a><span>韩国顶尖专业户外品牌</span></li>
			<li><a href="http://www.dermyn.net/" target="_blank"><img src="assets/pic22.jpg" alt="德玫恩" /> <strong>德玫恩</strong> </a><span>瑞典专业抗皱知名品牌</span></li>
			<li><a href="http://www.mingtangspa.com.cn/" target="_blank"><img src="assets/pic23.jpg" alt="茗汤温泉度假村" /> <strong>茗汤温泉度假村</strong> </a><span>综合性国家AAAA级旅游景区</span></li>
			<li><a href="http://www.ifenghui.com/" target="_blank"><img src="assets/pic24.jpg" alt="锋绘" /> <strong>锋绘</strong> </a><span>多领域都市青年漫画品牌</span></li>
       </ul>
		<span class="clear"></span>
	</div>
	<!-- Case结束 -->
	<div class="ad">
		<img src="assets/pic01.jpg" alt="图片描述" /></a>
	</div>
	<!-- .ad结束 -->
	<div id="partner">
			<h3 class="PartTitle">合作伙伴</h3>
			<div class="shuoming">
			<strong>All</strong>
			<p>拥有超过500家全国和地方性媒体资源，由具备十年以上媒体合作经验的资深公关专家主导执行。 </p>
			</div>
            
            
            
		<ul class="PictureList">
			<li><a href="http://www.people.com.cn/" target="_blank"><img src="assets/pic1.jpg" alt="人民网" /></a></li>
			<li><a href="http://www.xinhuanet.com/" target="_blank"><img src="assets/pic2.jpg" alt="新华网" /></a></li>
			<li><a href="http://www.china.com.cn/" target="_blank"><img src="assets/pic3.jpg" alt="中国网" /></a></li>
			<li><a href="http://www.gmw.cn/" target="_blank"><img src="assets/pic4.jpg" alt="光明网" /></a></li>
			<li><a href="http://www.chinanews.com/" target="_blank"><img src="assets/pic5.jpg" alt="中国新闻网" /></a></li>
			<li><a href="http://www.qq.com/" target="_blank"><img src="assets/pic10.jpg" alt="腾讯网" /></a></li>
			<li><a href="http://www.sina.com.cn/" target="_blank"><img src="assets/pic11.jpg" alt="新浪网" /></a></li>
			<li><a href="http://www.163.com/" target="_blank"><img src="assets/pic12.jpg" alt="网易" /></a></li>
			<li><a href="http://www.sohu.com/" target="_blank"><img src="assets/pic9.jpg" alt="搜狐网" /></a></li>
			<li><a href="http://www.jinghua.cn/" target="_blank"><img src="assets/pic7.jpg" alt="京华时报" /></a></li>
			<li><a href="http://www.cnbizmedia.com/" target="_blank"><img src="assets/pic6.jpg" alt="商界" /></a></li>
			<li><a href="http://www.ynet.com/" target="_blank"><img src="assets/pic8.jpg" alt="北青网" /></a></li>
		</ul>
		<span class="clear"></span>
	</div>
	<!-- partner结束 -->


	<div class="ad">
		<img src="assets/pic01.jpg" alt="图片描述" /></a>
	</div>
	<!-- .ad结束 -->

	<!-- <div id="News">
		<h3 class="PartTitle">行业新闻</h3>
		<ul class="NewsList">
			<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
			<li><span>2014-10-31</span><a href="#">新规前5794套房已网签 3月内办过户不评估计税</a></li>
			<li><span>2014-10-31</span><a href="#">组图：10款气质雪纺衫 演绎职场风景线</a></li>
			<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
			<li><span>2014-10-31</span><a href="#">陈凯歌搜索配乐时髦 鬼才马上又没正经</a></li>
			<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
			<li><span>2014-10-31</span><a href="#">新规前5794套房已网签 3月内办过户不评估计税</a></li>
			<li><span>2014-10-31</span><a href="#">组图：10款气质雪纺衫 演绎职场风景线</a></li>
			<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
			<li><span>2014-10-31</span><a href="#">陈凯歌搜索配乐时髦 鬼才马上又没正经</a></li>
		</ul>
		<span class="clear"></span>
        <span class="more">
					<%= link_to "更多>>", "/articles" %></span>

	</div> -->
	<!-- News结束 -->

	<div id="contact_us">
			<h3 class="PartTitle">联系我们</h3>
			<ul>
				<li><img src="assets/icon07.png" alt="图片描述" /><strong>15810183319 <br/>or<br/>15321968897</strong></li>
				<li><img src="assets/icon08.png" alt="图片描述" /><strong>srcy_ab@163.com<br/> or<br/> cell_1024@163.com</strong></li>
				<li><img src="assets/icon09.png" alt="图片描述" /><strong><a href="http://wpa.qq.com/msgrd?v=3&uin=1124034315&site=qq&menu=yes" class="icon_qq">QQ客服一</a>&nbsp; QQ：1124034315 <br/> <a href="http://wpa.qq.com/msgrd?v=3&uin=3145531192&site=qq&menu=yes" class="icon_qq">QQ客服二</a>&nbsp; QQ：3145531192 </strong></li>
			</ul>
			<span class="clear"></span>
	</div>
	<!-- contact_us结束 -->

	<div id="footer">
		<p>Copyright © 2014 srcy. All Rights Reserved. 
			<a href='http://www.miitbeian.gov.cn/' target="_blank">京ICP备14059168号</a>
			<br/>思锐创元文化传播（北京）有限公司
    </p>
	</div>
	<!-- footer结束 -->
