<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>思锐创元—内容营销,公共关系,品牌形象</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href="/assets/Dynamic.css" type="text/css" rel="stylesheet" />
  <%= csrf_meta_tags %>
  <meta name="format-detection" content="telephone=no">  
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="description" content="思锐创元为企业提供媒介公关、软文发布、网络推广、微信推广、企业形象策划包装等全方位公关策划服务。侧重企业自身发展需求，将传统公关公司的业务提升到一个新的高度。" />
	<meta name="keywords" content="网络推广,微信推广,百度推广,品牌推广,新闻发布会,微信代运营" />
	<meta name="baidu-site-verification" content="2F6IJzg4IG" />
</head>
<body>

<%= yield %>

</body>
</html>
